body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    text-align: center;
    height: 10vh;
    padding: 0 0 100px 0;
}

.title {
    display: flex;
    justify-content:center;
    margin-bottom: 30px;
}

#profileLogo {
    border-radius: 50%;
    width: 50px;
    padding-left: 20px;
}

.product {
    display: flex;
}

#p1 {
    flex-grow: 1;
}

#p2 {
    flex-grow: 1;
}

#p3 {
    flex-grow: 1;
}

.article {
    display: flex;
    padding: 15vh;
    justify-content: center;
}

#artImg {
    flex-shrink: 2;
}

#art {
    flex-shrink: 1;
    flex-basis: 20%;
    text-align: justify;
    padding: 100px;
}